<div class="inner cover">
  <h1 class="cover-heading">Analiza los juegos.</h1>
  <p class="">GameTracker es una herramienta que te permitira ver cada detalle de un juego de soccer como nunca antes lo has visto</p>
</div>

<ul class="lead game-list">
  <% @games.each do |game| %>
    <%= link_to game_path(game) do %>
      <li>
      <span class="home"><%= game.home_team.name %></span>
      <span class="vs">vs</span>
      <span class="visitor"><%= game.away_team.name %></span> - 
      <span class="date"><%= game.scheduled_start_time.to_formatted_s(:short) %></span>
      </li>
    <% end %>

    <% end %>
  </ul>

  <div class="mastfoot">
    <div class="inner">
      <p>Desarrollado por <span class="white">Luis Del Giudice</span>, <span class="white">Hector Mortero</span> y <span class="white">Eric Ramirez</span> </p>
    </div>
  </div>


