<div class="lead game-heading">
  <span class="heading-home"><%= @game.home_team.name %></span>
  <span class="vs">VS</span>
  <span class="heading-visitor"><%= @game.away_team.name %></span>
</div>

<div class="lead board">
  <div class="container">
    <div class="col-sm-4">
      <div class="game-stats">
        <table>

          <tbody>

            <tr class="head">
              <td>Puntuacion</td>
            </tr>
            <tr>
              <td>{{ stats.home.score }}</td>
            </tr>

            <tr class="head">
              <td>Pases</td>
            </tr>
            <tr>
              <td>{{ stats.home.pases }}</td>
            </tr>

            <tr class="head">
              <td>Faltas</td>
            </tr>
            <tr>
              <td>{{ stats.home.faltas }}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-4">
      <span class="jugadas-title">
        Jugadas
      </span>
      <div class="plays-box">
        <table>

          <tr ng-repeat="play in plays" ng-click="statsTill(play)">
            <td>{{ play.description }} de <span class="home">{{ play.player.name }}</span> </td>
            <td>{{ play.time }}</td>
          </tr>

       </table>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="game-stats">
        <table>

          <tbody>

            <tr class="head">
              <td>Puntuacion</td>
            </tr>
            <tr>
              <td>50</td>
            </tr>

            <tr class="head">
              <td>Pases</td>
            </tr>
            <tr>
              <td>50</td>
            </tr>

            <tr class="head">
              <td>Faltas</td>
            </tr>
            <tr>
              <td>50</td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
